<div class="container">
    <h2>Login</h2>
    <form #loginForm="ngForm" (submit)="login(loginForm.value)">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" ngModel>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" ngModel>
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>
