<div class="container">
    <h2>Orders: </h2>
    <div *ngFor="let order of list;" class="inset"><h5>Order Number: {{ order.id }}</h5>
        <div *ngFor="let product of order.products;"><h5>Name : {{ product.name }}  Price : $ {{ product.price }}</h5></div>
        <h5>Total : $ {{ order.totalPrice }}</h5>
        <br>
        <h5>User Detail : </h5>
        <div *ngIf="!this.authService.isAdmin">
            <h5>FullName :  {{ userDetail.fullName }}  , Phone :  {{ userDetail.phone }}</h5>
            <h5>Address :  {{ userDetail.address }}  , City :  {{ userDetail.city }}  , State :  {{ userDetail.state}}  , Zip :  {{ userDetail.zip }}</h5>
        </div>
        <div *ngIf="this.authService.isAdmin">
            <h5>FullName :  {{ order.fullName }}  , Phone :  {{ order.phone }}</h5>
            <h5>Address :  {{ order.address }}  , City :  {{ order.city }}  , State :  {{ order.state}}  , Zip :  {{ order.zip }}</h5>
        </div>
    </div>
</div>
