<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Joy's Shopping Website</a>
      </div>
      <ul class="nav navbar-nav" *ngIf="this.authService.loggedIn | async">
        <li>
          <a routerLink="/main" routerLinkActive="active">Main</a>
        </li>
        <li>
          <a routerLink="/myorders" routerLinkActive="active">Orders</a>
        </li>
      </ul>
      <ul class="nav navbar-nav" *ngIf="(this.authService.loggedIn | async) && !this.authService.isAdmin">
        <li>
          <a routerLink="/mycart" routerLinkActive="active">Cart</a>
        </li>
      </ul>
      <ul class="nav navbar-nav" *ngIf="this.authService.isAdmin">
        <li>
          <a routerLink="/admin" routerLinkActive="active">Admin</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="this.authService.loggedIn | async">
        <li>
          <a routerLink="/logout" routerLinkActive="active">Logout</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="!(this.authService.loggedIn | async)">
        <li>
          <a routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li>
          <a routerLink="/register" routerLinkActive="active">Register</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
