<div class="container">
    <h2>Add Products:</h2>
    <form #productForm="ngForm" (submit)="addProduct(productForm.value)">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" ngModel>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" name="price" ngModel>
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type="text" class="form-control" id="url" name="url" ngModel>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
</div>
