<div class="container">
    <h2>Products: </h2>
    <div *ngFor="let product of list; let i = index"><h5>{{ product.name }}  $ {{ product.price }}</h5>
        <div>
            <img [src]="product.url" height="200" width="200">
        </div>
        <button *ngIf="!this.authService.isAdmin" class="btn btn-primary" (click)="add(product)">Add to Cart</button>
        <button *ngIf="this.authService.isAdmin" class="btn btn-primary" (click)="deleteProduct(product.id)">Delete</button>
        <br>
    </div>
</div>
