<div class="container">
    <h2>My Detail:</h2>
    <form #detailForm="ngForm" (submit)="userDetail(detailForm.value)">
        <div class="form-group">
            <label for="fullName">FullName</label>
            <input type="text" class="form-control" id="fullName" name="fullName" ngModel>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" ngModel>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" name="address" ngModel>
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" name="city" ngModel>
        </div>
        <div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" name="state" ngModel>
        </div>
        <div class="form-group">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" id="zip" name="zip" ngModel>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
