<div class="container">
    <h2>Your Shopping Cart: </h2>
    <div *ngFor="let product of list;">{{ product.name }} ${{ product.price }}
        <button class="btn btn-primary" (click)="delete(product)">Delete</button>
    </div>
    <button class="btn btn-primary" (click)="checkout(myCart)">Checkout</button>
</div>
